p {
    font-family: Helvetica;
    font-weight: normal;
    font-size: large;
    margin-right: 40px;
    text-align: justify;
    line-height: 2;
}

h1 {
    text-align: center;
    align-self: center;
    font-family: "Franklin Gothic Medium";
    font-weight: bolder;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-family: "Franklin Gothic Medium";
    /* font-weight: bold; */
    font-size: 8px;
    font-weight: 500;
}

h3 {
    font-family: "Franklin Gothic Medium";
    /* font-weight: bold; */
    font-size: 38px;
    font-weight: 300;
}

/* * {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          background-color: black;
        } */

.lainya {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
    /* background-color: black; */
}

.main-scroll-div {
    width: 90%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

/* .cover {
    position: relative;
    width: 90%;
    height: 50%;
} */

/* .cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

.cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
} */

.scroll-images {
    width: auto;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child {
    min-width: 100%;
    height: 100%;
    margin: 10px 10px;
    cursor: pointer;
    border: 1px solid rgba(207, 201, 201, 0.3);
    overflow: hidden;
}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child-img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.icon {
    color: #45b0f8;
    /* background-color: black; */
    font-size: 50px;
    outline: none;
    border: none;
    padding: opx 20px;
    cursor: pointer;
}

.icon:hover {
    color: #fced19;
}

.elementor-widget-video .container {
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.elementor-widget-video
    .elementor-open-inline
    .elementor-custom-embed-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.elementor-widget-video .elementor-custom-embed-image-overlay {
    cursor: pointer;
    text-align: center;
}

.elementor-widget-video
    .elementor-custom-embed-image-overlay:hover
    .elementor-custom-embed-play
    i {
    opacity: 1;
}

.elementor-widget-video .elementor-custom-embed-image-overlay img {
    display: block;
    width: 100%;
}

.elementor-widget-video .e-hosted-video .elementor-video {
    -o-object-fit: cover;
    object-fit: cover;
}
